section {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.artInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.artImage {
 height: 45vh;
 width: auto;
 margin-right: 5vw;
}
p {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

@media (max-width: 767px){
  section {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
    flex-direction: column;
    align-items: center;
  }
  .artInfo {
    align-items: center;
  }
}