nav {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}
.menuItem {
  text-decoration: none;
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.496);
  font-weight: 650;
}
.menuItem:hover, .selected {
  color: #861657;
}
