.navMenu {
  margin-top: 3vh;
}
.navStyling {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}
.hide {
  display: none;
}
.hamburger {
  visibility: hidden;
}
.menuItem {
  text-decoration: none;
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.496);
  font-weight: 650;
}
.contactOlivia {
  margin-left: 1%;
  color: black;
  height: 3vh;
  float: left;
}

.bannerImage {
  width: 30vw;
  text-align: center;
  margin-left: 25vw;
  margin-right: 35vw;
}
@media (max-width: 767px){
  .navStyling {
    background-color: rgba(0, 0, 0, 0.802) ;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85vh;
    width: 40vw;
    top: 20vh;
    right: 0;
    float: right;
    position: fixed;
    z-index: 20;
  }
  .hide {
    display: none;
  }
  .hamburger {
    height: 5.5vh;
    top: 15vh;
    right: 0;
    margin-right: 1vw;
    visibility: visible;
    z-index: 10;
  }
.close {
    height: 5.5vh;
    top: 15vh;
    right: 0;
    position: fixed;
    margin-right: 1vw;
    visibility: visible;
    z-index: 10;
}
  .menuItem {
    font-size: 3vh;
    color: white;
    margin-left: 2vw;
  }
}
.menuItem:hover, .selected {
  color: #861657;
}
